<%- include("partials/header"); %>
    <h1>
        <%=postlist[index-1].head %>
    </h1>
    <p>
            <i>
            <%=postlist[index-1].body %>
        </i>
    </p>

    <%- include("partials/footer"); %>
