<%- include("partials/header"); %>
    <h1>
        <%=postlist[index.params-1].head %>
    </h1>
    <p>
        <%=postlist[index.params-1].body %>
    </p>
   
    <%- include("partials/footer"); %>
